# ShieldWall managed

[Unit]
Description=ShieldWall firewall - update service
Documentation=https://docs.shield-wall.net
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/local/lib/shieldwall/update/main.py
ExecReload=/bin/kill -10 $MAINPID

User=shieldwall
Group=shieldwall

StandardOutput=journal
StandardError=journal
SyslogIdentifier=shieldwall_update

Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONIOENCODING=utf8"
EnvironmentFile="/etc/shieldwall/update.env"
